<!-- footer -->
<footer class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/SGGSMUN2024.svg" alt="" style="width: 50%" />
      </div>
      <div class="col-md-6 foot-text">
        <h4>STAY</h4>
        <h4>CONNECTED</h4>
        <h5 style="margin-top: 1rem">CONTACT US</h5>
        <p>sggsmun2024@gmail.com</p>
        <p>123-456-7890</p>
        <p>Sri Guru Gobind Singh College Chandigarh</p>
        <p>325, Sukhna Path, 7A, Sector 26, Chandigarh, 160019</p>
      </div>
    </div>
  </div>
</footer>
