<nav class="navbar sticky-top navbar-expand-lg reg-navbar">
  <div class="container-fluid">
    <a href="/">
      <img
        src="/images/SGGS_MUN_2024_edited.png"
        class="navbar-brand"
        style="width: 110px"
      />
    </a>
  </div>
  <div class="opt">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          href="/individual"
          style="color: white"
          >INDIVIDUAL DEL.</a
        >
        <a class="nav-link" href="/school" style="color: white">SCHOOL DEL.</a>
        <a class="nav-link" href="/ip" style="color: white">IP</a>
        <a class="nav-link" href="/#venue-info" style="color: white">INFO</a>
        <a class="nav-link" href="/#gallery" style="color: white">GALLERY</a>
      </div>
    </div>
  </div>
</nav>
