<% layout("/layouts/boilerplate") -%>
<main>
  <div class="individual-reg">
    <a href="/individual">
      <button class="regpg-btn">INDIVIDUAL REG.</button>
    </a>
  </div>
  <div class="school-reg">
    <a href="/shool">
      <button class="regpg-btn">SCHOOL REG.</button>
    </a>
  </div>
  <div class="ip-reg">
    <a href="/ip">
      <button class="regpg-btn">IP REG.</button>
    </a>
  </div>
</main>
